# ==========================================
# LNMIIT TA PORTAL - BACKEND ENVIRONMENT
# ==========================================

# The port the backend server will listen on
PORT=5000

# Node Environment (development or production)
NODE_ENV=development

# The URL of your frontend application (Used for CORS protection)
# In production, this must match the exact college URL (e.g., https://ta.lnmiit.ac.in)
FRONTEND_URL=http://localhost:3080

# 1. DATABASE CONFIGURATION
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=
DB_PORT=3306

# 2. SECURITY & AUTHENTICATION (Generate a random string for production)
JWT_SECRET=6069ca4908aa26d2decda2130ba471205021d9eaa160a3f0d2ff94e8a79f61a3

# 3. ADMIN CREDENTIALS (Master login)
ADMIN_EMAIL=
ADMIN_PASSWORD=

# 4. EMAIL CONFIGURATION (Nodemailer for OTPs)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=